In [1]:
import numpy as pd
import pandas as pd

In [7]:
google = pd.read_csv('goolge.csv', encoding='ISO-8859-1')
mmt = pd.read_csv('makemytrip.csv', encoding='ISO-8859-1')
combined = pd.read_csv('turmeric_dataset.csv', encoding='ISO-8859-1')

In [11]:
google.head(2)

,reviews,overall_rating,review_date,trip_type,room_rating,service_rating,location_rating,platform
0,We booked this 4-star hotel expecting a comfor...,1,Jun-25,family,3,1,3,google
1,I had a wonderful stay for two days. The check...,5,Apr-25,NaN,5,5,4,google

In [15]:
print("google:", google.columns)
print("MMT Columns:", mmt.columns)
print("Turmeric Columns:", combined.columns)

google: Index(['reviews ', 'overall_rating', 'review_date', 'trip_type', 'room_rating',
       'service_rating', 'location_rating', 'platform'],
      dtype='object')
MMT Columns: Index(['reviews ', 'overall_rating', 'review_date', 'trip_type', 'room_rating',
       'service_rating', 'location_rating', 'platform'],
      dtype='object')
Turmeric Columns: Index(['reviews ', 'overall_rating', 'review_date', 'trip_type', 'room_rating',
       'service_rating', 'location_rating', 'platform'],
      dtype='object')

In [ ]:
#Alignin column names

common_cols = ['review', 'review_date', 'ratings', 'trip_type', 'room_rating',
               'service_rating', 'location_rating', 'platform']

In [ ]:
# Sample 

# Create a function to align columns
def align_columns(df, platform_name):
    df = df.copy()
    df['platform'] = platform_name  # tag the source
    for col in common_cols:
        if col not in df.columns:
            df[col] = None  # fill missing columns with None
    return df[common_cols]

google_aligned = align_columns(google, 'Google')
mmt_aligned = align_columns(mmt, 'MakeMyTrip')
turmeric_aligned = align_columns(turmeric, 'Turmeric')

In [25]:
df = pd.concat([google, mmt, combined], ignore_index=True)

In [27]:
df.to_csv('turmeric_hotel.csv', index=False, encoding='utf-8')

In [31]:
df.head()

,reviews,overall_rating,review_date,trip_type,room_rating,service_rating,location_rating,platform
0,We booked this 4-star hotel expecting a comfor...,1,Jun-25,family,3.0,1.0,3.0,google
1,I had a wonderful stay for two days. The check...,5,Apr-25,NaN,5.0,5.0,4.0,google
2,Had a great one-day stay here! Everything was ...,5,Jun-25,friends,5.0,5.0,5.0,google
3,I had a wonderful stay at Hotel Turmeric in Er...,5,Apr-25,friends,5.0,5.0,5.0,google
4,We stayed here for a night. We had a comfortab...,5,Jun-25,family,5.0,5.0,5.0,google

In [41]:
df.shape

(258, 8)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   reviews          258 non-null    object
 1   overall_rating   258 non-null    int64
 2   review_date      258 non-null    object
 3   trip_type        248 non-null    object
 4   room_rating      257 non-null    float64
 5   service_rating   257 non-null    float64
 6   location_rating  257 non-null    float64
 7   platform         258 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 16.3+ KB

In [51]:
df.duplicated().sum()

1